div.schoolDiv {
  padding: 0 0 1rem 1rem;
}

div.studyDiv {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.schoolNameButtonDiv {
  /* padding: 0 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

div.schoolNameButtonDiv button {
  padding: 0 0.2rem;
  border-radius: 0.5rem;
}

div.schoolNameButtonDiv div.buttonDiv {
  gap: 0.5rem;
}
