dialog {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  /* border: 1px solid #eee; */
  border-radius: 8px;
  /* font-family: Arial, sans-serif; */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input:focus {
  border-color: #2196f3;
  outline: none;
}

/* Open state of the dialog  */
dialog:open {
  opacity: 1;
  transform: scaleY(1) translateY(50%);
  z-index: 1;
}

/* Closed state of the dialog   */
dialog {
  opacity: 0;
  transform: scaleY(0) translateY(-100%);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete, display 0.7s ease-out allow-discrete;
  /* Equivalent to
    transition: all 0.7s allow-discrete; */
}

/* Before open state  */
/* Needs to be after the previous dialog:open rule to take effect,
      as the specificity is the same */
@starting-style {
  dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}

dialog:open::before {
  content: '';
  position: fixed;
  top: -300px;
  left: -600px;
  width: 300vw;
  height: 300vh;
  background-color: rgba(0, 0, 0, 0.5); /* Backdrop color */
  z-index: -1; /* Place behind the dialog content */
}
